@font-face {
  font-family: "Inter";
  src: url(./Inter/Inter-Regular.ttf), local("Inter-Regular");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/Montserrat/Montserrat-Medium.ttf),
    local("Montserrat Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/Open_Sans/OpenSans-Regular.ttf), local("OpenSans Regular");
  font-weight: 400;
}
