div{
    background-color: brown;
}
.caliskanlar{
    background-color: cornflowerblue;
}
#div_001{
    background-color: chartreuse;
}
#div_002{
    background-color: aqua;
}
p.caliskan01{
    background-color: coral;
}
p{
    background-color: darkorchid;
}
p#teamlead{
    background-color: darkslategray;
}

