@import "assets/fonts/Roboto/font.scss";

body {
  font-family: "Roboto";
}

$bg-color: #282c34;

@mixin color($name) {
  .App-#{$name} {
    color: lighten(red, 20%);
    @content;
  }
}

.App {
  text-align: center;

  & &-logo {
    height: 40vmin;
    pointer-events: none;
  }

  & &-header {
    background-color: $bg-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  & &-link {
    color: #61dafb;

    &:hover {
      color: red;
    }
  }

  @include color(paragraph) {
    background-color: rgba(#0000ff, 0.6);
  }
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -o-animation: $value;
  -ms-transition: $value;
  animation: $value;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    @include animation(App-logo-spin infinite 20s linear);
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(App-logo-spin) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
